<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Fuente de Google --}}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  {{!-- Bootstrap --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <title>Mails con Node</title>
</head>

<body class="container">
  <header>
    <h1>API envío de mails</h1>
    <h5>validado con Express-Validator</h5>
  </header>
  <main>
    <section>
      <form action="/" method="POST">
        {{#if sendMessage}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{sendMessage}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        {{#each arrWarnings}}
        <div class="alert alert-danger" role="alert">
          {{msg}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>


        {{/each}}

        <label for="name" hidden>ingrese nombre</label>
        <input type="text" id="name" name="name" placeholder="nombre..." autofocus value="{{errName arrWarnings formData.name
          }} ">





        <label for=" lastName" hidden>ingrese apellido</label>
        <input type="text" id="lastName" name="lastName" placeholder="apellido...">

        <label for="email" hidden>ingrese email</label>
        <input type="text" name="email" id="email" placeholder="email..." value={{formData.email}}>

        <label for="message" hidden>ingrese mensaje</label>
        <textarea name="message" id="message" cols="30" rows="8">{{formData.message}}</textarea>

        <input type="submit" value="enviar">
      </form>
    </section>
    {{#each test}}
    <p>{{field}} {{msg}}</p>
    {{/each}}
  </main>
  {{>footer}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>